USE [ElectroStore]
GO
/****** Object:  Table [dbo].[adv]    Script Date: 4/15/2023 12:02:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adv](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titile] [nvarchar](250) NULL,
	[description] [nvarchar](500) NULL,
	[image] [nvarchar](500) NULL,
	[type] [int] NULL,
	[link] [nvarchar](500) NULL,
	[createDate] [datetime] NULL,
	[createdBy] [nvarchar](150) NULL,
	[modifierDate] [datetime] NULL,
	[modifierBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_adv] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 4/15/2023 12:02:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NULL,
	[email] [nvarchar](150) NULL,
	[message] [nvarchar](max) NULL,
	[isRead] [bit] NULL,
	[createDate] [datetime] NULL,
	[createdBy] [nvarchar](150) NULL,
	[modifierDate] [datetime] NULL,
	[modifierBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_contact] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu]    Script Date: 4/15/2023 12:02:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NULL,
	[description] [nvarchar](500) NULL,
	[position] [int] NULL,
	[seoTitle] [nvarchar](250) NULL,
	[seoDescription] [nvarchar](550) NULL,
	[seoKeywords] [nvarchar](250) NULL,
	[createDate] [datetime] NULL,
	[createdBy] [nvarchar](150) NULL,
	[modifierDate] [datetime] NULL,
	[modifierBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[news]    Script Date: 4/15/2023 12:02:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NULL,
	[menuID] [int] NULL,
	[description] [nvarchar](4000) NULL,
	[detail] [nvarchar](max) NULL,
	[image] [nvarchar](500) NULL,
	[seoTitle] [nvarchar](250) NULL,
	[seoDescription] [nvarchar](550) NULL,
	[seoKeywords] [nvarchar](250) NULL,
	[createDate] [datetime] NULL,
	[createdBy] [nvarchar](150) NULL,
	[modifierDate] [datetime] NULL,
	[modifierBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_news] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 4/15/2023 12:02:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codeOrder] [nvarchar](50) NULL,
	[customerName] [nvarchar](150) NULL,
	[phone] [char](10) NULL,
	[address] [nvarchar](500) NULL,
	[totalAmount] [decimal](18, 0) NULL,
	[quantity] [nchar](10) NULL,
	[createDate] [datetime] NULL,
	[createdBy] [nvarchar](150) NULL,
	[modifierDate] [datetime] NULL,
	[modifierBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_oder] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 4/15/2023 12:02:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [int] NULL,
	[productID] [int] NULL,
	[price] [decimal](18, 0) NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_order_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post]    Script Date: 4/15/2023 12:02:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NULL,
	[menuID] [int] NULL,
	[description] [nvarchar](4000) NULL,
	[detail] [nvarchar](max) NULL,
	[image] [nvarchar](500) NULL,
	[seoTitle] [nvarchar](250) NULL,
	[seoDescription] [nvarchar](550) NULL,
	[seoKeywords] [nvarchar](250) NULL,
	[createDate] [datetime] NULL,
	[createdBy] [nvarchar](150) NULL,
	[modifierDate] [datetime] NULL,
	[modifierBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_post] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 4/15/2023 12:02:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NULL,
	[product_categoryID] [int] NULL,
	[description] [nvarchar](4000) NULL,
	[detail] [nvarchar](max) NULL,
	[image] [nvarchar](500) NULL,
	[price] [decimal](18, 0) NULL,
	[priceSale] [decimal](18, 0) NULL,
	[quantity] [int] NULL,
	[seoTitle] [nvarchar](250) NULL,
	[seoDescription] [nvarchar](550) NULL,
	[seoKeywords] [nvarchar](250) NULL,
	[createDate] [datetime] NULL,
	[createdBy] [nvarchar](150) NULL,
	[modifierDate] [datetime] NULL,
	[modifierBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_category]    Script Date: 4/15/2023 12:02:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NULL,
	[description] [nvarchar](500) NULL,
	[createDate] [datetime] NULL,
	[createdBy] [nvarchar](150) NULL,
	[modifierDate] [datetime] NULL,
	[modifierBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_product_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
