@{
    ViewBag.Title = "Home";
}


<div id="tab1" class="tab-pane active">
    <div class="products-slick" data-nav="#slick-nav-1">
        <!-- product -->
        <div class="product">
            <div class="product-img">
                <img src="~/Content/assets/img/product01.png" alt="">
                <div class="product-label">
                    <span class="sale">-30%</span>
                    <span class="new">NEW</span>
                </div>
            </div>
            <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">
                    $980.00 <del class="product-old-price">$990.00</del>
                </h4>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="product-btns">
                    <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                    </button>
                    <button class="add-to-compare">
                        <i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
                    </button>
                    <button class="quick-view">
                        <a href="/Products/"><i class="fa fa-eye"></i><span href="" class="tooltipp">quick view</span></a>
                    </button>
                </div>
            </div>
            <div class="add-to-cart">
                <button class="add-to-cart-btn">
                    <i class="fa fa-shopping-cart"></i> add to
                    cart
                </button>
            </div>
        </div>
        <!-- /product -->
        <!-- product -->
        <div class="product">
            <div class="product-img">
                <img src="~/Content/assets/img/product02.png" alt="">
                <div class="product-label">
                    <span class="new">NEW</span>
                </div>
            </div>
            <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">
                    $980.00 <del class="product-old-price">$990.00</del>
                </h4>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <div class="product-btns">
                    <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                    </button>
                    <button class="add-to-compare">
                        <i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
                    </button>
                    <button class="quick-view">
                        <i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                    </button>
                </div>
            </div>
            <div class="add-to-cart">
                <button class="add-to-cart-btn">
                    <i class="fa fa-shopping-cart"></i> add to
                    cart
                </button>
            </div>
        </div>
        <!-- /product -->
        <!-- product -->
        <div class="product">
            <div class="product-img">
                <img src="~/Content/assets/img/product03.png" alt="">
                <div class="product-label">
                    <span class="sale">-30%</span>
                </div>
            </div>
            <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">
                    $980.00 <del class="product-old-price">$990.00</del>
                </h4>
                <div class="product-rating">
                </div>
                <div class="product-btns">
                    <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                    </button>
                    <button class="add-to-compare">
                        <i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
                    </button>
                    <button class="quick-view">
                        <i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                    </button>
                </div>
            </div>
            <div class="add-to-cart">
                <button class="add-to-cart-btn">
                    <i class="fa fa-shopping-cart"></i> add to
                    cart
                </button>
            </div>
        </div>
        <!-- /product -->
        <!-- product -->
        <div class="product">
            <div class="product-img">
                <img src="~/Content/assets/img/product04.png" alt="">
            </div>
            <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">
                    $980.00 <del class="product-old-price">$990.00</del>
                </h4>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="product-btns">
                    <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                    </button>
                    <button class="add-to-compare">
                        <i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
                    </button>
                    <button class="quick-view">
                        <i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                    </button>
                </div>
            </div>
            <div class="add-to-cart">
                <button class="add-to-cart-btn">
                    <i class="fa fa-shopping-cart"></i> add to
                    cart
                </button>
            </div>
        </div>
        <!-- /product -->
        <!-- product -->
        <div class="product">
            <div class="product-img">
                <img src="~/Content/assets/img/product05.png" alt="">
            </div>
            <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">
                    $980.00 <del class="product-old-price">$990.00</del>
                </h4>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="product-btns">
                    <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                    </button>
                    <button class="add-to-compare">
                        <i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
                    </button>
                    <button class="quick-view">
                        <i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                    </button>
                </div>
            </div>
            <div class="add-to-cart">
                <button class="add-to-cart-btn">
                    <i class="fa fa-shopping-cart"></i> add to
                    cart
                </button>
            </div>
        </div>
        <!-- /product -->
    </div>
    <div id="slick-nav-1" class="products-slick-nav"></div>
</div>


@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@