@model IEnumerable<ElectroWeb.Models.EntityFramework.Menu>
<ul class="main-nav nav navbar-nav">
    @if (Model != null && Model.Any())
    {
        foreach (var menu in Model)
        {
            if (menu.Position == 1)
            {
                <li class="active"><a href="@menu.Alias">@menu.Title</a></li>
            }
            else
            {
                <li><a href="@menu.Alias">@menu.Title</a></li>
            }
        }
    }
</ul>
@*<li class="active"><a href="#">Trang chủ</a></li>
    <li><a href="#">Hot Deals</a></li>
    <li><a href="#">Laptop </a></li>
    <li><a href="#">Điện thoại</a></li>
    <li><a href="#">Camera </a></li>
    <li><a href="#">Phụ kiện </a></li>*@

