@model ElectroWeb.Models.OrderInfoViewModel
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .error {
        font-size: small;
        margin-top: 5px;
        margin-left: 5px;
        color: #DC3545;
    }
</style>
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Thanh toán</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active">Thanh toán</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
@if (ViewBag.CheckCart != null)
{
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div id="show_success"></div>
                <div class="col-md-7 order-infor">
                    @Html.Action("Checkout_OrderInfor", "Cart")
                </div>
                <div class="col-md-5 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Đơn hàng</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>Sản phẩm</strong></div>
                            <div><strong>Thành tiền</strong></div>
                        </div>
                        @Html.Action("Show_Checkout_Items", "Cart")
                    </div>
                </div>
                <!-- /Order Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
}
else
{
    <div class="text-center">
        <label>Hiện tại bạn chưa có đơn hàng nào, vui lòng quay lại <a href="/san-pham">trang sản phẩm</a> để tiếp tục mua hàng. </label>
    </div>
}
<!-- SECTION -->
<!-- /SECTION -->
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        function OnFailure(rs) {
            if (!rs.Success) {
                $('#show_success').html("Bạn mua hàng thất bại! Xin vui lòng thử lại");
            }
        }
        $(document).ready(function () {
            $('#myForm').validate({
                rules: {
                    'CustomerName': {
                        required: true
                    },
                    'Phone': {
                        required: true
                    },
                    'Address': {
                        required: true
                    },
                    'Email': {
                        required: true,
                        email:true
                    }
                },
                messages: {
                    'CustomerName': 'Vui lòng nhập tên.',
                    'Phone': 'Vui lòng nhập số điện thoại.',
                    'Address': 'Vui lòng nhập địa chỉ.',
                    'Email': 'Email của bạn chưa hợp lệ.'
                }
            });
        });
    </script>
}
